body {
  font-family: "Palatino Linotype", "Book Antigua", Palatino, serif;
  font-size: 20px;
  background-color: #83656c;
  color: #372430;
}

.well {
  background-color: #cfc5cd;
}

.btn {
  background-color: #5c3d50;
  border-color: #5c3d50;
}

.form-control {
  background-color: #cfc5cd;
}

.form-contol:focus {
    border-color: #b99596;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(185, 149, 150, .6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(185, 149, 150, .6);
}

.highlight_word {
  color: white;
}
