body {
  font-family: "Palatino Linotype", "Book Antigua", Palatino, serif;
  font-size: 20px;
  background-color: #83656c;
  color: #372430;
}

.well {
  background-color: #b99596;
  border: 1px solid #cfc5cd;
}

.title {
  margin-top: 15px;
}

.btn {
  background-color: #5c3d50;
  border-color: #5c3d50;
  color: #cfc5cd;
  font-size: 16px;
}

.btn:hover {
  background-color: #372430;
  color: #cfc5cd;
}

.form-control {
  background-color: #cfc5cd;
}
